#frm1 {
    display:flex; 
    justify-content: space-evenly ;
    align-content: center;
    flex-direction: row;
    padding-top: 5%;
    padding-right: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
}
#btnStrike{
    width:100px;
    background-color: green;
    
}
#invalidShipPlacement{
    display: none;
    font-weight: 800;
}
/* #hitLocation{
    display: inline;
}
.example{
    display: none;
} */

#card{
    text-align: center;
}

#cards{
    display: inline-block;
}
#hitLocation{
    width:250px;
    max-width: 250px;
    margin:auto;
    margin-right: 150px;
   

}

#gamedisplays{
    
    align-content: space-between;
    /* top: 50%;
    left: 15%; */
    /* transform: translate(-50%, -50%); */
    /* position:center; */
    /* position: relative; */
    /* justify-content: space-between;
   x
   
}
    display: inline;
} */
}

