#frm1 {
    display:flex; 
    justify-content: space-evenly ;
    align-content: center;
    flex-direction: row;
    padding-top: 5%;
    padding-right: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
}
#btnStrike{
    width:100px;
    background-color: green;
    
}
#hitLocation{
    display: none;
}
.example{
    display: none;
}

#card{
    text-align: center;
}

#cards{
    display: inline-block;
}
#gamedisplays{
    width: 1000px;
    align-content: center;
    top: 50%;
    left: 15%;
    /* transform: translate(-50%, -50%); */
    
    position: relative;
    /* justify-content: space-between;
   x
   
}
    display: inline;
} */
}

